@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap');


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


